<ion-view view-title="ACTIVIDADRECIENTE" hide-back-button="true"> 
    <ion-content has-header="true">
    
			<!-- pagina del perfil desde un punto de vista de la empresa -->
		 
     <div class="list">

  <a class="item item-icon-right" href="#">
    <i class="icon ion-eye"></i>
    TE HA VISTO ACG 
  </a>

<a class="item item-icon-right" href="#">
    <i class="icon ion-eye"></i>
    TE HA VISTO BURGUER KING  
  </a>

<a class="item item-icon-right" href="#">
    <i class="icon ion-eye"></i>
    TE HA ENVIADO UN MENSAJE ACG 
  </a>
  <a class="item item-icon-right" href="#">
    <i class="icon ion-eye"></i>
  HAN RECHAZADO TU PROPUESTA EN LEGO 
  </a>
     </div>


</ul>

 </view>
    </ion-content>
  
  