<ion-view view-title="Ajustes" hide-back-button="true">
  <ion-content style="background-color:#c0c0c0" has-header="true">
    <div class="list colorLetraGris style ">

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-camera"></i> Cambiar foto de Perfil
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-person"></i> Nombre
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-paper-airplane"></i> Apellidos
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-person-stalker"></i> Edad

      </a>
      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-ios-world"></i> Pais

      </a>
      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-ios-world-outline"></i> Poblacion

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-ios-world"></i> Provincia
      </a>


      </a>
      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-email"></i> Correo electronico
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-key"></i> Contraseña
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-key"></i> Repetir contraseña
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-email"></i>Cuenta Privada(privacidad)
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-pound"></i> Etiquetas
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-information-circled"></i> Ayuda
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-email"></i> Politica de Privacidad
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-social-whatsapp"></i> Condiciones de Uso
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-email"></i> Licencias
      </a>

      <a class="item item-icon-left " style="background-color:#c0c0c0" href="#">
        <i class="icon ion-log-out"></i> Cerrar sesion
      </a>


    </div>
  </ion-content>
</ion-view>