<ion-view view-title="Ajustes" hide-back-button="true"> 
    <ion-content style="background-color:#c0c0c0" has-header="true">
       <div class="list colorLetraGris ">

  <a class="item item-icon-left " href="#">
    <i class="icon ion-email"></i>
    Cambiar Email
  </a>

  <a class="item item-icon-left " href="#">
    <i class="icon ion-chatbubble-working"></i>
    Contraseña   
  </a>

  <a class="item item-icon-left " href="#">
    <i class="icon ion-camera"></i>
    Videos
  </a>

  <a class="item item-icon-left " href="#">
    <i class="icon ion-person-stalker"></i>
    Perfil

  </a>
  <a class="item item-icon-left " href="#">
    <i class="icon ion-person-stalker"></i>
 cambiar info perfil

  </a>

</div>
    </ion-content>
</ion-view>