





<ion-view view-title="area" hide-back-button="true">
  <ion-content>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body ng-app='ModalDemo'>
  <div ng-controller='MyCtrl'>
    <button ng-click='toggleModal()'>Open Modal Dialog</button>
    <modal-dialog show='modalShown' width='400px' height='60%'>
      <p>Modal Content Goes here<p>
    </modal-dialog>
   <p> papraprar</p>
      <p> papraprar</p>
         <p> papraprar</p>
            <p> papraprar</p>
            
               <p> papraprar</p>
            
               <p> papraprar</p>
  </div>
</body>



    
  </ion-content>
</ion-view>