
 

<ion-content>

    <label class ="item row"> 

    <ion-radio ng-model="choice" class="button button-balanced ion-briefcase col"   ng-model="sexo" ng-value="EMPRESA" ng-value="'B'">EMPRESAS
    </ion-radio>    
	<ion-radio ng-model="choice" class=" button button-energized ion-woman col"     ng-model="sexo" ng-value="USUARIO" ng-value="'A'"> PERSONAS 
    </ion-radio>
 
 </label>

<button class="button button-block button-stable" ng-click="MostrarFiltroPersona()" >
  Filtrar La Búsqueda 
</button>

    
    <ion-header-bar class="bar-subheader item-input-inset">
     <label class="item-input-wrapper">
         <i class="icon ion-ios7-search placeholder-icon"></i>
         <input type="search" placeholder="BUSCAR" ng-model="filter">
     </label>
    </ion-header-bar>

<div ng-show="showFilterBusqueda"> 

  hola
  <br>
  hola go 
  <br>
  hola pen
  hola hey!
  <br>
  hola 39'3
  hola quer3
</div>

<input type="search" ng-model="search.$">
<div ng-repeat="book in filtered = (books | filter:search)">{{book.title}}</div>

</ion-content>

<div class="bar bar-footer bar-balanced">
  <div class="title">MENÚ</div>
</div>

<!-- -->


