<ion-view view-title="PERFIL" hide-back-button="true" hide-nav-bar="false">
    <ion-content has-header="true">

        <!-- pagina del perfil desde un punto de vista de propietario del mismo -->
        <div class="profile-bg" style="background-color:#c0c0c0">

            <img ng-src="img/ICONOSAPP/empatia.png" width="80px" height="80">
            <img ng-src="img/ICONOSAPP/analitica.png" width="80px" height="80">
            <img ng-src="img/ICONOSAPP/argumentacion.png" width="80px" height="80">
            <img ng-src="img/ICONOSAPP/idiomas.png" width="80px" height="80">
        </div>
        <div id="contentPerfil" class="row">
            <div id="profile-info col">
                <img id="profile-image" src="http://prisarevistas.typepad.com/.a/6a016763dcc86e970b01a3fd17861a970b-800wi">
            </div>
            <div class="col alineadoDere">
                <h3 id="profile-namePerfil">Dross Rotzank </h3>
                <span id="profile-descriptionPerfil" class="content">Escritor, youtuber </span>
                <div class="row"style="margin-left:-30px;">
                    <button class=" col button tamañoIconoBlanco bordeSin">
                        <div class="ion-iphone tamañoIconoGris stable"></div>
                    </button>
                    <div>
                    <button class=" col button tamañoIconoBlanco bordeSin">
                     <div class="ion-ios-videocam  tamañoIconoGris stable"></div>
                 </button>
            </div>
            </div>

                </div>
            


        </div>
        <div style="background-color:#c0c0c0 ">
            <div class="content row" style="background-color:#c0c0c0 bajando">
                <button class="button  col colorfondoboton ">
                    <div class="ion-ios-person tamañoIcono stable"></div>
                </button>
                <button class="button  col colorfondoboton ">
                    <div class="ion-ios-briefcase tamañoIcono stable"></div>
                </button>
            </div>
            <div class="row" style="background-color:#c0c0c0">
                <div>
  <div class="alineadoIzq">
                         <p> MIS AFICIONES</p>
                    </div>
                     <video width="180" height="100px" LOOP name="media" poster="img/ionic.png" controls>
                  
                        <source src="img/Spacious.mp4" type="video/mp4">
                       
                    </video>
                    
                        
                </div>
                <div>
    
               <div class="alineadoIzq">
                         <p> MIS GUSTOS</p>
                    </div>
                     <video width="180" height="100px" LOOP name="media" poster="img/ionic.png" controls>
                        <source src="img/Coverr-office.mp4" type="video/mp4">
                    </video>
                     
                </div>

            </div>
            <div class="row" style="background-color:#c0c0c0 ">
                <div>
                      <div class="alineadoIzq">
                         <p> MIS TRABAJOS</p>
                    </div>
                  
                    <video width="180" height="100px" LOOP name="media" poster="img/ionic.png" controls>
                        <source src="img/Home-work.mp4" type="video/mp4">
                    </video>
                    
                </div>
                <div>
                      <div class="alineadoIzq">
                         <p> MIS VENTAJAS</p>
                    </div>
                    
                     <video width="180" height="100px" LOOP name="media" poster="img/ionic.png" controls>
                        <source src="img/Meeting-Room.mp4" type="video/mp4">
                    </video>
                     
                </div>


            </div>
            <div class="row indexZero" style="background-color:#c0c0c0">
                <div>
                     <div class="alineadoIzq">
                         <p> MIS JEFES</p>
                    </div>
                    <video width="180" height="100px" LOOP name="media" poster="img/ionic.png" controls>
                        <source src="img/Noted.mp4" type="video/mp4">
                    </video>
                   
                </div>
                <div>
                      <div class="alineadoIzq">
                         <p> MIS DEFECTO </p>
                    </div>
                    <video width="180" height="100px" LOOP name="media" poster="img/ionic.png" controls>
                        <source src="img/Office-Day.mp4" type="video/mp4">
                    </video>
                    


            </div>
        </div>
            <div class="row" style="background-color:#c0c0c0">
                <div>
                      <div class="alineadoIzq">
                         <p> MIS AFICIONES</p>
                    </div>
                    <video width="180" height="100px" LOOP name="media" poster="img/ionic.png" controls>
                        <source src="img/Spacious.mp4" type="video/mp4">
                    </video>
                     
                </div>
                <div>
                      <div class="alineadoIzq">
                         <p> MIS AFICIONES</p>
                    </div>
                    <video width="180" height="100px" LOOP name="media" poster="img/ionic.png" controls>
                        <source src="img/Spacious.mp4" type="video/mp4">
                    </video>
                    
                </div>


            </div>

    </ion-content>
</ion-view>