<ion-view view-title="PERFIL" hide-back-button="true" hide-nav-bar="false">
    <ion-content has-header="true">

        <!-- pagina del perfil desde un punto de vista de propietario del mismo -->
        <div class="profile-bg" style="background-color:#c0c0c0">

            <img ng-src="img/ICONOSAPP/empatia.png" width="80px" height="80">
            <img ng-src="img/ICONOSAPP/analitica.png" width="80px" height="80">
            <img ng-src="img/ICONOSAPP/argumentacion.png" width="80px" height="80">
            <img ng-src="img/ICONOSAPP/idiomas.png" width="80px" height="80">
            <img ng-src="img/ICONOSAPP/racional.png" width="80px" height="80">
        </div>
        <div id="content" class="row">
            <div class="col">
                <h3 id="profile-name">Alfred Laurent</h3>
                <span id="profile-description" class="content">26 Años, Demacia(Runeterra)</span>
            </div>
            <div id="profile-info" class="col">

                <img id="profile-image" src="http://prisarevistas.typepad.com/.a/6a016763dcc86e970b01a3fd17861a970b-800wi">
            </div>
            <div class="col">
                <button class="button icon ion-iphone"></button>
                 <button class="button  button-energized ">
                     <div class="ion-ios-videocam  tamañoIcono stable"></div>
                 </button>

            </div>
        </div>
        <div   style="background-color:#c0c0c0">
            <div class="content row" style="background-color:#c0c0c0">
                <button class="button  col colorfondoboton ">
                    <div class="ion-ios-person tamañoIcono stable"></div>
                </button>
               <button class="button  col colorfondoboton ">
                    <div class="ion-ios-briefcase tamañoIcono stable"></div>
                </button>
            </div>
            <div class="row" style="background-color:#c0c0c0">
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/iuE8QFy98zs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/GMcuT-xwTxg" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
            <div class="row" style="background-color:#c0c0c0">
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/iuE8QFy98zs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/GMcuT-xwTxg" frameborder="0" allowfullscreen></iframe>
                </div>
                

            </div>
              <div class="row" style="background-color:#c0c0c0">
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/iuE8QFy98zs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/GMcuT-xwTxg" frameborder="0" allowfullscreen></iframe>
                </div>
                

            </div>
              <div class="row" style="background-color:#c0c0c0">
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/iuE8QFy98zs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/GMcuT-xwTxg" frameborder="0" allowfullscreen></iframe>
                </div>
                

            </div>

    </ion-content>
</ion-view>