<ion-view view-title="FavoritosUsuario" hide-back-button="true"> 
    <ion-content has-header="true" style="background-color:#c0c0c0">
  
			<!-- pagina del perfil desde un punto de vista de la empresa -->
		      <div id="content borderSin" style="background-color:#c0c0c0">
                  <div class="row"> 

<div class="col borderSin"></div>
<div class="col borderSin"><img id="profile-imageFav" ng-src="img/1479211654295.png"></div>
<div class="col borderSin"></div>
                  </div>
                     	<label class ="item row borderSin" style="background-color:#c0c0c0"> 

    <ion-radio ng-model="choice" class="button button-block col colorfondoboton">Empresa </ion-radio>    
	<ion-radio ng-model="choice" class="button button-block col colorfondoboton">Videos </ion-radio>

    </label>

   </div>
                                                
  <ul class="list borderSin" style="background-color:#c0c0c0">
     <div class="list borderSin" style="background-color:#c0c0c0">

  <a class="item item-icon-right borderSin" style="background-color:#c0c0c0" href="#">
    <i class="icon ion-eye"></i>
    TE HA VISTO ACG 
  </a>

<a class="item item-icon-right borderSin"style="background-color:#c0c0c0" href="#">
    <i class="icon ion-eye"></i>
    TE HA VISTO BURGUER KING  
  </a>
  
<a class="item item-icon-right"style="background-color:#c0c0c0" href="#">
    <i class="icon ion-eye"></i>
    TE HA ENVIADO UN MENSAJE ACG 
  </a>
  <a class="item item-icon-right" style="background-color:#c0c0c0"href="#">
    <i class="icon ion-eye"></i>
  HAN RECHAZADO TU PROPUESTA EN LEGO 
  </a>
     </div>


</ul>
 </ion-content>
</ion-view>