<ion-view view-title="FavoritosUsuario" hide-back-button="true"> 
    <ion-content has-header="true">
  
			<!-- pagina del perfil desde un punto de vista de la empresa -->
		      <div id="content">
                  <div class="row"> 

<div class="col"></div>
<div class="col"><img id="profile-image" ng-src="img/1479211654295.png"></div>
<div class="col"></div>
                  </div>
                     	<label class ="item row"> 

    <ion-radio ng-model="choice" class="button button-block col colorfondoboton">Empresa </ion-radio>    
	<ion-radio ng-model="choice" class="button button-block col colorfondoboton">Videos </ion-radio>

    </label>

   </div>
                                                
  <ul class="list">
     <div class="list">

  <a class="item item-icon-right" href="#">
    <i class="icon ion-eye"></i>
    TE HA VISTO ACG 
  </a>

<a class="item item-icon-right" href="#">
    <i class="icon ion-eye"></i>
    TE HA VISTO BURGUER KING  
  </a>
  
<a class="item item-icon-right" href="#">
    <i class="icon ion-eye"></i>
    TE HA ENVIADO UN MENSAJE ACG 
  </a>
  <a class="item item-icon-right" href="#">
    <i class="icon ion-eye"></i>
  HAN RECHAZADO TU PROPUESTA EN LEGO 
  </a>
     </div>


</ul
    </ion-content>
</ion-view>