
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


<ion-view view-title="Sign In" class="loginBg" hide-nav-bar="true" >
<!-- <ion-nav-title><img src="img/logo.png" width="40"></ion-nav-title> -->
  <ion-content>
  </ion-content>

  <ion-content class="padding">
			
			<!--  Seleccionas empresa o candidato -->

			<div class="row">
   <div class="col text-center">
      <button class="button button-small button-balanced button-light" img class="col" width="200" height="200" src="img/SoyEmpresa.png">SOY EMPRESA</button>
   </div>   
</div>

 <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
			<div class="app-logo "><img class="col" width="200" height="150" src="img/InicioPantalla.png"></div> 


	<div class="row">
   <div class="col text-center">
      <button class="button button-small button-calm button-light" img class="col" >SOY CANDIDATO</button>
   </div>
</div>	

  </ion-content>
</ion-view>
