<ion-view view-title="Empresa" hide-back-button="true">
    <ion-content has-header="true">

        <!-- pagina del perfil desde un punto de vista de la empresa-->
        <div class="profile-bg">
            <img src="http://www.riotgames.com/sites/all/themes/riot/media/images/draven_darious.jpg" width="500px" height="150">
        </div>
        <div id="content" class="row">
            <div class="profile-info col">
                <img id="profile-image" src="https://pbs.twimg.com/profile_images/618843226997288960/42JK8BSu.jpg">
            </div>
            <div class="col alineadoDere">
                <h6 id="profile-name">Riot Games</h6>
                <span id="profile-description"><h6>Los Ángeles. (E.E.U.U)</h6></span>
            </div>
            <div class="col">
                    <button class="button icon ion-ios-location"></button>
                    <button class="button  button-energized ">
                     <div class="ion-android-star  tamañoIcono stable"></div>
                 </button>

                </div>
        </div>
  <div style="background-color:#c0c0c0 botonIndexNegativo">
            <div class="content row" style="background-color:#c0c0c0">
                <button class="button  col colorfondoboton ">
                    <div class="ion-ios-person tamañoIcono stable"></div>
                </button>
                <button class="button  col colorfondoboton ">
                    <div class="ion-ios-people tamañoIcono stable"></div>
                </button>
                <button class="button  col colorfondoboton ">
                    <div class="ion-ios-briefcase tamañoIcono stable"></div>
                </button>
            </div>
            <div class="row" style="background-color:#c0c0c0">
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/iuE8QFy98zs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/GMcuT-xwTxg" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
            <div class="row" style="background-color:#c0c0c0">
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/iuE8QFy98zs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/GMcuT-xwTxg" frameborder="0" allowfullscreen></iframe>
                </div>


            </div>
            <div class="row" style="background-color:#c0c0c0">
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/iuE8QFy98zs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/GMcuT-xwTxg" frameborder="0" allowfullscreen></iframe>
                </div>


            </div>
            <div class="row" style="background-color:#c0c0c0">
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/iuE8QFy98zs" frameborder="0" allowfullscreen></iframe>
                </div>
                <div>
                    <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/GMcuT-xwTxg" frameborder="0" allowfullscreen></iframe>
                </div>


            </div>
        </ion-list>
    </ion-content>
</ion-view>