<ion-view view-title="Empresa" hide-back-button="true"> 
    <ion-content has-header="true">
  
			<!-- pagina del perfil desde un punto de vista de la empresa -->
		<div class="profile-bg">
                <img src="http://www.riotgames.com/sites/all/themes/riot/media/images/draven_darious.jpg" width="500px" height="150">		
		</div>
      <div id="content">
           
          	<div class="row">
		<div id="profile-info" class="row">
             <div class="col col-bottom responsive-sm">                	
          <h6 id="profile-name">Riot Games</h6>
          <span id="profile-description"><h6>Los Ángeles. (E.E.U.U)</h6></span>
             </div>     
                    
            <div class="col">
          <img id="profile-image" src="https://pbs.twimg.com/profile_images/618843226997288960/42JK8BSu.jpg">
            </div> 
            <div class="col col-bottom">
                 <img  width="50px" height="40px" src="http://www.chrishunt.co/tracks/apple-touch-icon.png"> 
                 <button class="button icon ion-star col-5"></button>
            </div>
            </div>     
                   <button class="button button-block col colorfondoboton">Instalaciones</button>
                <button class="button button-block col colorfondoboton">Empleados</button>
                <button class="button button-block col colorfondoboton" href="Ofertas">Ofertas</button>
                </div>
                <div class="row colorletra">
                    <div>
					<iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/Y-gsY5oAsL0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div>
                   <iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/Zasx9hjo4WY" frameborder="0" allowfullscreen></iframe>
                    </div>

				</div>
                <div class="row">
                    <div>
					<iframe width="200" height="100" class="col" src="https://www.youtube.com/embed/Tct5tk52paE" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div>
                    <iframe  width="200" height="100" class="col" src="https://www.youtube.com/embed/GMcuT-xwTxg" frameborder="0" allowfullscreen></iframe>
                    </div>

				
          	</div>
    </ion-list>
    </ion-content>
</ion-view>