<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item " href="#/app/login"><i class="icon ion-unlocked"></i> Login </a>
      <a class="tab-item active" href="#/app/signup"> <i class="icon ion-person"></i> Sing Up </a>
    </div>
  </div>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <ion-content class="padding">
 <!-- Logo sin poner pero esta el hueco -->

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		   <div class="app-logo"><img src=""></div>
			

<!-- SELECCIONAR EMPRESA O USUARIO -->



<!-- Empresa o usuario -->
<label class ="item row">
   
	<ion-radio ng-model="choice" class=" button button-energized col" ng-model="sexo" ng-value="USUARIO" ng-value="'A'"><label class="ion-briefcase icon-left col">USUARIO</label></ion-radio>
  <ion-radio ng-model="choice" class="button button-balanced  col" ng-model="sexo" ng-value="EMPRESA" ng-value="'B'"><label class="ion-briefcase icon-left col">EMPRESA</label></ion-radio>
	
</label>


	

<!-- Para el formulario de registro un pequeño ejemplo -->
<!-- <label class="item item-input"><input type="text" placeholder="Nombre"> </label> -->
			  


<!-- contraseña -->
				<!--<label class="item item-input"><input type="password" placeholder="Confirmar contraseña"> </label> -->
			
			<div class="loginButton"><button class="button ion-person button-block button-stable"> Registrarse </button>  </div>
	  </div>
  </div>

  </ion-content>
</ion-view>
