
<ion-view view-title="trabajadores">
<ion-content>
<!-- barra de arriba Trabajadores -->
  
  <div  class="item item-avatar noPadingNoMargin button button-block button-balanced">
    
    <h1 >TRABAJADORES</h1>
    <p><i><b>Te lo cuentan desde dentro</b></i></p>
  </div>   
 




<div class="row ">
<div class="col" ><img style="width:100%;" src="img/RecursosHumanos.jpg"></div>
<div class="col" ><img style="width:100%;" src="img/ResponsableDeMarketing.jpg"></div>
 
</div>

<div class="row">
<div class="col"><img style="width:100%;" src="img/Trabajadores.jpg"></div>
<div class="col"><img style="width:100%;" src="img/Finanzas.jpg"></div>
 
</div>




 

</ion-content>
</ion-view>


