
<ion-view view-title="trabajadores">
<ion-content hide-nav-bar="true">
<!-- barra de arriba Trabajadores -->
 <label class ="item col"> 
  <ion-button class="button button-positive col" ng-model="" ng-value="">LOS TRABAJADORES
  </ion-button>    
 </label>

<!-- Espacios y demas para separar Los Trabajadores -->
<div class="row colorLetraGris">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>

<div class="row colorLetraGris">
  <button class="button button-clear" style="background-image:url('img/Trabajadores.jpg');background-size:cover">
  </button>
<div class="col col-top"></div>  
  <div class="col col-center"></div>
  <button class="button button-clear" style="background-image:url('img/RecursosHumanos.jpg');background-size:cover">
  </button>
  <div class="col col-top"></div>
</div>

<div class="row row-top colorLetraGris">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>

<div class="row row-center colorLetraGris">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>

<div class="row colorLetraGris">
  <button class="button button-clear" style="background-image:url('img/ResponsableDeMarketing.jpg'); background-size:cover"></button>
  <div class="col"></div>
  <div class="col"></div> 
  <button class="button button-clear" style="background-image:url('img/Finanzas.jpg'); background-size:cover"></button>
  <div class="col"></div>
</div>
</ion-content>
</ion-view>


