<ion-view>
    <ion-content>
  

<div class="indexNeg" style="background-color:#828282">
<video width="100%" height="650px"LOOP autoplay  name="media" poster="img/ionic.png" controls>
<source src="img/Prueba1.mp4" type="video/mp4">
</video>
</div>

<div class="tabs tabs-icon-left" style="background-color:transparent">
   <a class="tab-item">
    <img  ng-src="img/1479211654295.png" style="width:70px">
    </a>
    
   <a class="tab-item">
    <i class="icon ion-"></i>
    </a>
  
  <a class="tab-item">
    <i class="icon ion-"></i>
    BotonMenu
  </a>
  <a class="tab-item">
    <i class="icon ion-"></i>
    </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
  </a>

     <a class="tab-item">
    <i class="icon ion-"></i>
    </a>
  <a class="tab-item">
    <i class="icon ion-ios-keypad"></i>
    </a>
</div>


 </ion-content>
</ion-view>